# Ignore all files and directories
*

# Except for these ones
!.git*
!ghostty
!ghostty/**
!hypr
!hypr/**
!nvim
!nvim/**
!zellij
!zellij/**
!prettier
!prettier/**
!opencode
!opencode/**
!init.lua
!make-symlinks.sh
