layout {
    default_tab_template {
        // Show the tab bar
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="Backend Run" focus=true cwd="./repos/oktowai" {
        pane name="Backend Run" borderless=false
    }
    tab name="Backend" cwd="./repos/oktowai" {
        pane name="Backend" borderless=false
    }
    tab name="Backend AI" cwd="./repos/oktowai" {
        pane name="Backend AI" borderless=false
    }
    tab name="Frontend Run" cwd="./repos/frontend" {
        pane name="Frontend Run" borderless=false {
    }
    tab name="Frontend" cwd="./repos/frontend" {
        pane name="Frontend" borderless=false
    }
    tab name="Frontend AI" cwd="./repos/frontend" {
        pane name="Frontend AI" borderless=false
    }
}
